$layout-name: 'c-product';

.#{$layout-name} {
  background-color: red;
  padding: 1rem;
  max-width: 14rem;

  &__img {
    width: 13.3125rem;
    height: 13.3125rem;
  }

  &__container-title {
    margin-top: 0.5rem;
    width: 100%;
  }

  &__title {
    font-size: 0.875rem;
  }

  &__container-price {
    width: 100%;
  }

  &__price {
    font-size: 0.875rem;
  }
}
